$color--heavy: #141414;
$color--neutral: #575657;
$color--mid: #7c7c7c;
$color--deemphasized: #d6d6d6;
$color--background: #f7f7f7;

$font--text: "Söhne Mono", monospace;
$font--display: "Margo Condensed", serif;
