@font-face {
  font-family: "Söhne Mono";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/soehne-mono/soehne-mono-web-buch.woff2") format("woff2"),
    url("../fonts/soehne-mono/soehne-mono-web-buch.woff") format("woff"),
    url("../fonts/soehne-mono/soehne-mono-web-buch.eot")
      format("embedded-opentype");
}
